p{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin:0;
    padding:20px;
    width: 200px;
}
.alja{
    border-bottom: 0px;
}
p:hover{
    background-color: chocolate;
}